@import 'tailwindcss';

/* define the custom dark variant for utility classes like dark:text-white */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* set default (light mode) values */
  --color-page-bg: var(--color-gray-300);
  --color-page-text: var(--color-gray-800);
  --color-link: var(--color-gray-600);
}

/* manual toggle: if .dark class is on <html> */
.dark {
  --color-page-bg: var(--color-gray-800);
  --color-page-text: var(--color-gray-300);
  --color-link: var(--color-blue-500);
}

/* base styles after normalize */
@layer base {
  body {
    @apply bg-page-bg text-page-text transition-colors duration-300;
  }

  h1 {
    @apply text-4xl font-bold tracking-tight;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }

  a {
    @apply text-link underline hover:opacity-80 transition-opacity;
  }

  p,
  ul,
  ol {
    @apply my-4;
  }
  ul {
    @apply list-disc list-inside;
  }
  ol {
    @apply list-decimal list-inside;
  }
}

/* TODO replace with Tailwind classes in markup */

/* Hamburger menu */
.menu {
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

:has(.menu[aria-expanded='true']) .nav-links {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
  }

  .menu {
    display: none;
  }
}
