@import 'tailwindcss';

@theme {
  --color-page-bg: var(--color-gray-300);
  --color-page-text: var(--text-gray-800);
  --color-header-bg: var(--color-gray-300);
  --color-header-text: var(--text-gray-800);
  --color-footer-bg: var(--color-gray-300);
  --color-footer-text: var(--text-gray-800);
}

/* base styles after normalize */
@layer base {
  body {
    @apply bg-page-bg text-page-text;
  }

  header {
    @apply bg-header-bg text-header-text;
  }

  footer {
    @apply bg-footer-bg text-footer-text;
  }

  h1 {
    @apply text-4xl font-extrabold tracking-tight;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }

  a {
    @apply text-blue-600 underline hover:text-blue-800;
  }

  p,
  ul,
  ol {
    @apply my-4;
  }
  ul {
    @apply list-disc list-inside;
  }
  ol {
    @apply list-decimal list-inside;
  }
}

/* convert to Tailwind */

html {
  font-family: sans-serif;
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .menu {
  background-color: #fff;
  color: #000;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  color: #0d0950;
}

.dark .nav-links a {
  color: #fff;
}

.dark a {
  color: #ff9776;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* Hamburger menu */
.menu {
  background-color: #0d0950;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text); /* #0d0950; */
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

:has(.menu[aria-expanded='true']) .nav-links {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .menu {
    display: none;
  }
}
