---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Contact";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Future Plans</h2>

  <p>
    Either build a contact form from scratch and host it myself or use an
    existing service.
  </p>
</BaseLayout>
