---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Hello, I'm Mike.";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="mb-8">
    <p>
      I'm a lifelong New Englander who enjoys photography, improving my web
      development skills, exploring this wonderful part of the country, and too
      many other things to mention.
    </p>

    <p>
      My plans for this new website are to host a blog, some of my favorite
      photos, and personal software projects.
    </p>
  </section>

  <p class="text-meta">
    Built with <a href="https://astro.build/">Astro</a> and <a
      href="https://tailwindcss.com/">Tailwind CSS</a
    >.
  </p>
</BaseLayout>
