---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Photos";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>On Deck</h2>

  <p>
    I plan to create a custom photo gallery to display my favorite shots from
    the past decade to simulate the photo galleries I once maintained on Flickr
    and Instagram.
  </p>

  <p>
    Possibly using Cloudinary for image hosting. Other features: lightboxes,
    lazy-loaded images, full image downloads, collections based on themes. Also
    captions, descriptions, and metadata for each photo.
  </p>
</BaseLayout>
