---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";

const projects = [
  {
    title: "Trivia quiz",
    description:
      "Multiple choice trivia game using React and Open Trivia DB. Work-in-progress.",
    repoUrl: "https://github.com/mpleroux/trivia_quiz",
    tags: ["React", "Vite", "TypeScript", "Tailwind CSS", "Open Trivia DB"],
  },
  {
    title: "Astro site",
    description:
      "This website! Astro handles the structure and Tailwind handles the styling.",
    repoUrl: "https://github.com/mpleroux/astro_site",
    tags: ["Astro", "Tailwind CSS", "TypeScript"],
  },
  {
    title: "Pinboard clone",
    description:
      "An experiment to vibe-code a barebones, single user clone of the social bookmarking website Pinboard using Claude Code.",
    repoUrl: "https://github.com/mpleroux/pinboard_clone",
    tags: ["Tailwind CSS", "Alpine.js", "Claude Code"],
  },
];

const pageTitle = "Projects";
const description =
  "Personal web development projects with links to code repos and live demos";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <h1>{pageTitle}</h1>

  <section class="grid grid-cols-1 gap-4 xs:grid-cols-2">
    {projects.map((project) => <ProjectCard {...project} />)}
  </section>
</BaseLayout>
