---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";

const projects = [
  {
    title: "Trivia Quiz",
    description: "Multiple choice trivia game using React and Open Trivia DB.",
    repoUrl: "https://github.com/mpleroux/trivia_quiz",
    liveUrl: "https://mpleroux-trivia-quiz.netlify.app/",
    tags: [
      "React",
      "Vite",
      "TypeScript",
      "Tailwind CSS",
      "Jest",
      "Open Trivia DB",
    ],
  },
  {
    title: "Astro Site",
    description:
      "This website! Astro handles the structure and Tailwind handles the styling.",
    repoUrl: "https://github.com/mpleroux/astro_site",
    tags: ["Astro", "Tailwind CSS", "TypeScript"],
  },
  {
    title: "Pinboard Vibecode",
    description:
      "An experiment to vibecode a barebones, single user clone of the social bookmarking website Pinboard using Claude Code.",
    repoUrl: "https://github.com/mpleroux/pinboard_vibecode",
    tags: ["Tailwind CSS", "Alpine.js", "Claude Code"],
  },
];

const pageTitle = "Projects";
const description =
  "Personal web development projects with links to code repos and live demos";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <h1>{pageTitle}</h1>

  <p class="mb-8">
    My GitHub account: <a href="https://github.com/mpleroux"
      >github.com/mpleroux</a
    >
  </p>

  <section class="grid grid-cols-1 gap-4 xs:grid-cols-2">
    {projects.map((project) => <ProjectCard {...project} />)}
  </section>
</BaseLayout>
