---

---

<div
  id="main-menu"
  class="nav-links m-0 hidden w-full sm:static sm:block sm:w-auto [&_.nav-link]:block sm:[&_.nav-link]:inline-block sm:[&_.nav-link]:text-lg sm:[&_.nav-link]:no-underline"
>
  <a class="nav-link" href="/">Home</a>
  <a class="nav-link" href="/about/">About</a>
  <a class="nav-link" href="/blog/">Blog</a>
  <a class="nav-link" href="/tags">Tags</a>
</div>
