---
const { tags } = Astro.props as { tags: string[] };
---

<div class="flex flex-wrap text-xs">
  Tags:
  {tags.map((tag) => (
    <span class="pl-1">
      <a href={`/tags/${tag}`}>{tag}</a>
    </span>
  ))}
</div>
