---
import BaseLayout from "./BaseLayout.astro";
import TagList from "../components/TagList.astro";
import { formatDate } from "../utils/format";

const { frontmatter } = Astro.props;
---

<BaseLayout>
  <p>
    <a class="text-faded" href="/blog"
      ><span aria-hidden="true">&larr;</span> Blog</a
    >
  </p>

  <h1 class="hidden" aria-hidden="true">Blog Post</h1>

  <p class="text-meta mb-1 font-semibold uppercase">
    {formatDate(frontmatter.pubDate)}
  </p>

  <h2>{frontmatter.title}</h2>

  <slot />

  <TagList tags={frontmatter.tags} />
</BaseLayout>
